.container {
    display: grid;
    grid-template-areas:
    "header header header header"
    ". side content content ";
    grid-template-columns: 1fr 1fr 5fr 1fr;
    grid-template-rows: 1fr 10fr;
}

.header {
    grid-area: header;
}

.navBar {
    grid-area: side;
}

.content {
    grid-area: content;
}