.userPhoto {
    height: 300px;
    width: 210px;
    background: #282c34;
    display: grid;
    margin-left: 20px;
    grid-template-columns: 1fr 4fr 1fr;
    column-gap: 10px;
    grid-template-areas: ". ph ." ". e .";
}

.userPhoto img {
    margin-top: 5px;
    height: 200px;
    width: 180px;
    border: 2px solid cornsilk;
    background-size: contain;
    grid-area: ph;
    border-radius: 2px;
}

.edit {
    grid-area: e;
    height: 30px;
    border-radius: 5px;
    background: #282c34;
    border: 2px solid cornsilk;
    color: cornsilk;
    outline: none;
}

.container {
    display: grid;
    grid-template-areas: "name" "info";
    padding: 5px 5px 5px 15px;
    background: #282c34;
}

.userNameContainer {
    grid-area: name;

}

.infoContainer {
    grid-area: info;

}

.infoItemContainer {

}

.infoConstItem {
    display: inline;
    padding: 5px;
    color: #D7D7E1;
}

.infoItem {
    display: inline;
    color: #8C90E1;
}

.userName {
    font-size: 25px;
    color: #D7D7E1;
}

.userStatus {
    color: #D7D7E1;
}

.online {

}


