.navElemBlock{
    color: #282c34;
    text-decoration: none;
    padding: 5px;
    font-size: 1.2rem;
}

.navElem{
    text-decoration: none;
}

.activeLink{
    text-decoration: none;
    color: #DBE0FF;
}